* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

html, body, #root {
  height: 100%;
}

button, input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}